@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-canvas text-fg-primary antialiased selection:bg-accent-signal selection:text-fg-primary min-h-screen flex flex-col font-body-md;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

/* Tabular numeric rendering */
.tnum,
.tabular-nums {
  font-feature-settings: "tnum" 1;
}

/* Crisp razor-thin dark slate scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-left: 1px solid #18181B;
}
::-webkit-scrollbar-thumb {
  background: #18181B;
}
::-webkit-scrollbar-thumb:hover {
  background: #FACC15;
}

/* Continuous Infinite Marquee */
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-continuous {
  display: flex;
  width: max-content;
  animation: marquee-scroll 40s linear infinite;
}

.animate-marquee-continuous:hover {
  animation-play-state: paused;
}
